---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div id="posts">
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      {% comment %}
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      {% endcomment %}
    </div>
  {%- endif -%}

  <div id='sponsors'>
    <h2 class='post-list-heading'>Thank You to Our Sponsors!</h2>

    <div>
      <h1>Trey &amp; Terri Kirby</h1>

      <img src='/assets/img/fnb_wms.jpeg' />
      
      <img src='/assets/img/cc.jpeg' />

      <h1>Mia-Lan Powers</h1>

      <img src='/assets/img/crb.jpeg' />

      <img src='/assets/img/shn.jpeg' />

      <img src='/assets/img/kre.jpeg' />

      <img src='/assets/img/cvs.jpeg' />

      <img src='/assets/img/tnt.png' />
    </div>

  </div>

</div>
